
#container {
  background: #FDEAF7 url("images/bg-wall.png") repeat-x left top;
}
#header {
  background: #FFF url("images/bg-header.png") repeat-x left top;
}

/*-------------------------------------------------------------------*/
/*                          Generic html elements                    */
/*-------------------------------------------------------------------*/
fieldset legend,
.form-item label {
  color: #666;
}
blockquote {
  background: #F9CBED;
}

/*-------------------------------------------------------------------*/
/*                             Lists                                 */
/*-------------------------------------------------------------------*/
.item-list ul li {
  font-size: 11px;
  list-style-image: url("images/bullet-round.png");
}
.submitted {
  color: #666;
}
.links {
  color: #666;
}
/* Menus */
li.leaf {
  list-style-image: url("images/bullet-round.png");
}
li.collapsed {
  list-style-image: url("images/bullet-sm-arrow-right.png");
}
li.expanded {
  list-style-image: url("images/bullet-sm-arrow-down.png");
}

/*-------------------------------------------------------------------*/
/*                             Links                                 */
/*-------------------------------------------------------------------*/
a,
a.active {
  color: #B21F88;
}
a:link, a.active:link {
  color: #B21F88;
}
a:visited, a.active:visited {
  color: #B21F88;
}
a:hover, a.active:hover {
  color: #D23FA8;
}

/*-------------------------------------------------------------------*/
/*                            Tables                                 */
/*-------------------------------------------------------------------*/
tr.odd {
  background: #FDEAF7;
}
tr.even {
  background: #FFF;
}

/*-------------------------------------------------------------------*/
/*                             Header                                */
/*-------------------------------------------------------------------*/
div#header {
  background: url("images/header.png") no-repeat top left;
}
#site-name a {
  color: #FFF;
}
#site-slogan {
  color: #FFF;
}
/* Primary Links */
#primary { 
  color: #FFF;
}
#primary ul.links li a {
  color: #FFF;
}

/* Superfish Default skin */
#superfish-inner .menu a, 
#superfish-inner .menu a:visited  { 
  color: #FFF;
}
#superfish-inner .menu li {
  background: transparent;
}
#superfish-inner .menu li li {
  background: #000;
}
#superfish-inner .menu li li li {
  background: #000;
}
#superfish-inner .menu li:hover, 
#superfish-inner .menu li.sfHover,
#superfish-inner .menu a:focus, 
#superfish-inner .menu a:hover, 
#superfish-inner .menu a:active {
  background: url("images/sf-hover-tile.png") repeat-y left top;
}

/*-------------------------------------------------------------------*/
/*                             Footer                                */
/*-------------------------------------------------------------------*/
#footer {
  color: #FFF;
  background: #FFF url("images/bg-footer.png") repeat-x bottom left;
}
#footer a {
  color: #FFF;
}

/*-------------------------------------------------------------------*/
/*                          Sidebar Blocks                           */
/*-------------------------------------------------------------------*/
#sidebar-left, #sidebar-right {
  background: #FFF;
}

#sidebar-left .block,
#sidebar-right .block {
  background: url("images/block-tr.png") no-repeat top right;
}
#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
  background: url("images/block-tl.png") no-repeat top left;
}
#sidebar-left .block-inner,
#sidebar-right .block-inner {
  background: url("images/block-br.png") no-repeat bottom right;
}
#sidebar-left .block-content,
#sidebar-right .block-content {
  background: url("images/block-bl.png") no-repeat bottom left;
}
#sidebar-left .block-content-inner,
#sidebar-right .block-content-inner {
  background: url("images/block-tile.png") repeat;
}
.block h2.block-title {
  color: #FFF;
}

.block .node,
.block .node .node-inner-0,
.block .node .node-inner-1,
.block .node .node-inner-2,
.block .node  .node-inner-3
.block .sticky,
.block .sticky .node-inner-0,
.block .sticky .node-inner-1,
.block .sticky .node-inner-2,
.block .sticky .node-inner-3 {
  background: #FFF;
}

/*-------------------------------------------------------------------*/
/*                                Poll                               */
/*-------------------------------------------------------------------*/
.poll .bar {
  background-color: #EEE;
  border: solid 1px #AAA;
}
.poll .bar .foreground {
  background: #B21F88 url("images/bg-lbar.png") repeat-x center left;
}
/*-------------------------------------------------------------------*/
/*                               Node                                */
/*-------------------------------------------------------------------*/
#block-system-main .article {
  background: #FFF;
}
.article-full-view .article h1.title, 
.article h2.title {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 2px;
  border-bottom: solid 1px #BBB;
}
.article h2.title a:hover {
  text-decoration: none;
  color: #AC2E82;
}
.article .submitted {
  color: #666;
}
/* sticky */
.article-sticky {
  background: url("images/sticky-tile.png") repeat;
}

/*-------------------------------------------------------------------*/
/*                              Comments                             */
/*-------------------------------------------------------------------*/
.comment {
  background: #FFF;
}
.comment .new {
  color: red;
}
.comment .submitted {
  color: #666;
}
.comment div.links {
  text-align: right;
}
#comments .odd {
  background: url("images/sticky-tile.png") repeat;
}

/*-------------------------------------------------------------------*/
/*                            Aggregator                             */
/*-------------------------------------------------------------------*/
#aggregator .feed-source {
  background-color: #EEE;
  border: 1px solid #CCC;
}

/*-------------------------------------------------------------------*/
/*                               Forum                               */
/*-------------------------------------------------------------------*/
#forum td.container {
  background: #DDD;
}

/*-------------------------------------------------------------------*/
/*                              Profile                              */
/*-------------------------------------------------------------------*/
#profile .profile {
  border: 1px solid #AAA;
}
#profile .profile .name {
  padding-bottom: 0.5em;
}

/*-------------------------------------------------------------------*/
/*                             Administer                            */
/*-------------------------------------------------------------------*/
div.admin-panel {
  background: #fdeaf7;
}
div.admin-panel h3 {
  background: #EB5AC3;
  color: #FFF;
}

/*-------------------------------------------------------------------*/
/*                                Pager                              */
/*-------------------------------------------------------------------*/
div.item-list ul.pager li.pager-current {
  background: #EB5AC3;
}
.pager a {
  background: #F9CBED;
}
.pager a:hover {
  background: #D9ABCD;
}

/*-------------------------------------------------------------------*/
/*                                Tabs                               */
/*-------------------------------------------------------------------*/

.tabs ul {
  border-bottom: solid 0px #FFF;
  margin-bottom: 10px;
}
.tabs ul li a {
  background: #FFF;
  border: solid 1px #EEE;
}
.tabs ul li a:hover {
  background: #CCC;
  border: solid 1px #AAA;
}
.tabs ul li a.active, .tabs ul li.active a {
  color: #FFF;
  background: url("images/bg-bar-lite.png") repeat-x center center;
  border: solid 1px #EB5AC3;
}
.tabs ul li a.active:hover {
  background: url("images/bg-bar.png") repeat-x center center;
  border: solid 1px #EB5AC3;
}
ul.secondary li {
  border: solid 0px #FFF;
}
ul.secondary li a {
  border: solid 1px #EEE;
}

